<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 13</title>
</head>

<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, amet distinctio quidem excepturi magnam facilis consectetur est facere, vitae, animi mollitia veniam. Dolorum officia deserunt eligendi quam! Eos, asperiores aut eaque veritatis inventore provident modi quia hic consequatur delectus ipsam dicta, perferendis cupiditate quam libero mollitia neque deserunt totam ipsa!</p>
    <button onclick="prev()">Back</button>


    <script type="text/javascript" src="../js/index.js"></script>

   

</body>

</html>